.body{
    width:100%;
}

.cabecera{
    margin: -10px;
    height: 500px;
    border: 1px solid rgb(224, 224, 224);
    padding: 0px;
    text-align: center;
    background-color: rgb(143, 206, 107);
    background-size: cover;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-image: url(image.jpg);
    background-position: center 45% ;
}
/*CAMBIÉ PORCENTAJE*/

.join {
    float: left;
    margin-top: 100px;
    margin-left: -255px;
    list-style: none;
    font: italic;
    color: white;   
}

#logo{
    float: left;
    margin-left: 5em;
    font-weight: 500;
    font: italic;
    color: white;
    font-size: 35PX;
    text-decoration: none;
}

.parrafo {
    text-align: left;
    margin-top: 100px;
}



.free {
    float: left;
    margin-top: 170px;
    margin-left: -550px;
    font: italic;
    color: white;
    display: block;
    font-size: 20px;
}

.start {
    float: left;
    margin-top: 250px;
    margin-left: -550px;
    font: italic;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(101, 180, 180);
    width: 180px;
    border-radius: 25px;
    height: 23px;
    text-decoration: none; 
}
    
}
.menu {
    width: 20px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif ;
}

.elem-lista{
    float: left;
    margin-left: 50px;
    list-style: none;
    color: white;
    font-size: 19px;
}
/*CAMBIÉ TAMAÑO DE FUENTE*/

.info{
    margin: 0;
    width: auto;
    height: 370px;
    border: 1px solid green;
    padding: 10px;
    text-align: center;
    background-color:rgba(38, 55, 70, 0.911); 
}

.datos {
    margin: 0;
    width: 800px;
    height: 5em;
    padding: 1px;
    text-align: center;
    float: right;
    margin-right: 200px;
    align-items: inherit;
    justify-content: space-between;
}

.datocolor {
    color: rgb(53, 197, 53);
    font-size: 35px;
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.datoblanco{
    float: left;
    font: italic;
    color: white;
   font-size: 25px;
   padding: 5px;
}

#devices{
    float: left;
    margin-left: 190px;
    padding: 35px;
}

#pardev{
    padding: 10px;
    color: white;
    font-size: 15px;
    float: right;
    margin-right: 150px;
}

.devt{
    font-size: 20px;
}

.cursos{
    margin: 0;
    width: auto;
    padding: 80px;
    background-color:whitesmoke;
    justify-content: stretch;
    height: 390PX;
}

.pyt{
    margin: 0;
    width: 350px;
    height: 370px;
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
    margin-left: 8em;
    float: left;
    bottom: 10PX;
    box-shadow: grey 10px 10px ; 
}

#logpyt{
        float: none;
        padding-top: 0%;
}

#pytut {
    font-size: 25px;
}

#ctut {
    font-size: 25px;
}
#botonpyt{
    
    font: italic;
    color: rgb(255, 255, 255);
    background-color: rgb(101, 180, 180);
    width: 180px;
    border-radius: 25px;
    height: 25px;
    text-decoration: none;
    margin-left: 85px;
    font-size: 20px;
}

#botonc {
    font: italic;
    color: rgb(255, 255, 255);
    background-color: rgb(101, 180, 180);
    width: 180px;
    border-radius: 25px;
    height: 25px;
    text-decoration: none;
    margin-left: 85px;
    font-size: 20px;
}

.c {
    margin: 0;
    width: 350px;
    height: 370px;
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
    margin-right: 9em;
    float: right;
    box-shadow: grey 10px 10px ;  
}
 
.bloque{
    margin: 0;
    width: auto;
    border: 1px solid green;
    padding: 100px;
    text-align: center;
    background-color:whitesmoke;
}

.quotes{
    margin: 0;
    height: 520px;
    padding: 20px;
    text-align: center;
    background-color:whitesmoke;

}

#learners{
    float: left;
    margin-left: 10px;
    
}

#infolearners{
    margin-left: 270px;
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#fb{

    float: right;
    margin-right: 625px;
    padding: 20px; 
      
}

#twitter{
    float: right;
    margin-right: 600px;
    margin: 20px;
    
}



.quo{
    font: italic;
    color: black;
    font-size: 20PX;
    float: left;
    margin-left: 500px;
    height: 10px;
    width: 90px;
    border: 1px solid green;
    padding: 112px;
    padding-left: 80px;
    margin:60px;
    padding-top: 120px;
    
   
    
}

.quo2{
    font: italic;
    color: black;
    font-size: 20PX;
    float: left;
    margin-left: 520px;
    height: 10px;
    width: 60px;
    border: 1px solid green;
    padding: 112px;
    padding-left: 120px;
    margin:60px;
    padding-top: 120px;
      
}

.quot1{
    font-size: 13px;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 63px;
    border: 3px solid grey;
    float: left;
    width: 200px;
    height: 100px;
    margin-left: 70px;
}

.quot2{
    font-size: 13px;
    color: black;
    width: 70px;
    text-align: center;
    padding: 5px;
    margin: 63px;
    border: 3px solid grey;
    float: left;
    margin-left: 150px;
    width: 230px;
    height: 110px;
}

.photo1{

    border-radius: 25px;
    float: right;
    padding: 0px;
    margin: -80px;
    margin-right: 855px;

}
.pic1{
    border-radius: 100px;
    height: 70px;
    width: 70px;
    float: left;
    margin-left: 100px;
    margin: 20px;    
}


.photo2{

    border-radius: 25px;
    float: right;
    padding: 0px;
    margin: -95px;
    margin-right: 403px;

}
.pic2{
    border-radius: 100px;
    height: 70px;
    width: 70px;
    float: left;
    margin-left: 100px;
    margin: 20px;    
}

.py{

    font-size: 14px;
    color: rgb(167, 164, 164);
}

.tit{

    margin:7px
}


.become{
    margin: 0;
    width: auto;
    height: 200px;
    padding: 20px;
    text-align: center;
    background-color:rgb(235, 228, 228);
}


.titul {
    font-size: 30px;
}

#starto{

    font: italic;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 200, 142);
    width: 700px;
    height: 25px;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    float: left;
    margin-left: 315px;
}      



.barra{
    margin: 0;
    width: auto;
    height:25px;
    padding: 20px;
    text-align: center;
    background-color:rgb(76, 79, 87);
    color: white;
}


.Contacts{
    margin: 0;
    width: auto;
    border: 1px solid green;
    padding: 50px;
    text-align: center;
    background-color:rgb(234, 238, 238);
    height: 130px;
}

#contlist{
    list-style:none;
    color: grey;
    padding: 1px;
    margin: -30px;
    font-size: 20px;
    float: left;
    margin-left: 430px;
}


#solo{
    margin: -100px;
    height:50px;
    width: 200px;
    margin-left: -230px;
}

.cont2{
    list-style:none;
    color: grey;
    padding: 10px;
    margin: -120px;
    font-size: 20px;
    float: left;
    margin-left: 600px;
    text-align: center;
}

   
}
.bloque{
    margin: 0;
    width: auto;
    border: 1px solid green;
    padding: 100px;
    text-align: center;
    background-color:whitesmoke;
    
}